@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-900 text-white
}

input {
  @apply py-2 px-2 border outline-none bg-neutral-950 rounded-md border-neutral-800
}

button {
  @apply p-2 border bg-neutral-950 border-neutral-800 rounded-md
}

button:hover {
  @apply bg-opacity-70
}

button:active {
  @apply bg-opacity-30
}

::-webkit-scrollbar {
  display: none;
}

.icon-audio-meter {
  display: flex;
  align-items: center;
  gap: 1px;
}

.icon-audio-meter .bars-meter {
  width: 4px;
  height: 16px;
  @apply bg-indigo-500;
  animation-name: bar;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.icon-audio-meter .bars-meter:nth-child(1) {
  animation-duration: .7s;
}


.icon-audio-meter .bars-meter:nth-child(2) {
  animation-duration: .4s;
}

.icon-audio-meter .bars-meter:nth-child(3) {
  animation-duration: .5s;
}

.icon-audio-meter .bars-meter:nth-child(4) {
  animation-duration: .6s;
}

@keyframes bar {
  from {
    height: 0;
    transform-origin: left bottom;
  }

  to {
    height: 16px;
  }
}