@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-900 text-white
}

input {
  @apply py-2 px-2 border outline-none bg-neutral-950 rounded-md border-neutral-800
}

button {
  @apply p-2 border bg-neutral-950 border-neutral-800 rounded-md
}

button:hover {
  @apply bg-opacity-70
}

button:active {
  @apply bg-opacity-30
}

::-webkit-scrollbar {
  display: none;
}